<h2>Products</h2>
<div *ngFor="let product of products">

  <span>
      <a [title]="product.name + 'details'">
      {{ product.name }}
      </a>
  </span>

  <span> 
      <a [title]="product.price + 'Rs'">
        {{ product.price }}
        </a>
  </span>

  <div>
    <button (click)="addIntoCart(product)">
      Add Item
    </button>
  </div>

  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>
<br>
</div>
<br><br>


<div id="cartInfo">

  <h2>Cart Items</h2>
  <br>


  <div *ngFor="let cartItem of cart" >
    <br>
    <div>
      {{cartItem.name}} : {{cartItem.price}}
    </div>
    <br>
  </div>
  <br>
  <div> Total Price: Rs {{totalPrice}} </div>
</div>
  <button (click)="printComponent('cartInfo')">Print</button>
  <br>

  <button (click)="emptyCart()">Clear Cart</button>
  <br>
