<h2>Products</h2>
<div *ngFor="let product of products">

    <span>
      <a [title]="product.name + 'details'">
      {{ product.name }}
      </a>
  </span>

 <span> 
    <a [title]="product.price + 'Rs'">
      {{ product.price }}
      </a></span>

  <div>
    <button (click)="addIntoCart(product)">
      Add Item
    </button>
  </div>

  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>
<br>
</div>
<br><br>


<div class="container" id="component1">

<h2>Cart Items</h2>
<br>

<div *ngFor="let cartItem of cart" >
  <br>
  <span>
    {{cartItem.name}} : {{cartItem.price}}
     </span>
    <br>
</div>
<br>
 <div> Total Price: Rs {{totalPrice}} </div>

<button (click)="printComponent('component1')">Print</button>
<br>


<div>
<button onclick="deleteItems()">Should wite Delete items code here</button>
<br>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->